a {
  text-decoration: none !important;
}

$breakPoint: 1000px;

.bar {
  @media only screen and (max-width: $breakPoint) {
    display: none;
  }
}
.nav {
  display: none;
  @media only screen and (max-width: $breakPoint) {
    display: block;
  }
}
.gotop {
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #999;
  padding-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  font-size: 85%;
  text-decoration: none;
  color: #333;
  opacity: 0.5;
  position: fixed;
  bottom: 9px;
  right: 20px;
  z-index: 10000;
}
.gotop::before {
  content: '';
  display: block;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 25%;
  height: 25%;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}
.gotop:hover {
  opacity: 1;
}
