<div>
  <header id="top">
    <v-app-bar dark dense height="72" fixed>
      <v-app-bar-nav-icon
        class="d-block d-md-none"
        @click="drawer = true"
      ></v-app-bar-nav-icon>
      <v-toolbar-title class="font-weight-bold text-body-1 text-lg-h5 title">
        {{ brandName }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="d-none d-md-block bar">
        <router-link
          v-for="(page, index) in pages"
          :key="index"
          :to="page.nuxtLink"
          class="nt-app-bar-link"
          ><v-btn
            elevation="0"
            class="text-subtitle-1"
            @click="$vuetify.goTo(page.section, { offset: 90 })"
            >{{ page.title }}</v-btn
          >
        </router-link>
        <a
          href="http://ouachp.web.fc2.com/report1.html"
          class="text-decoration-none"
          target="_blank"
        >
          <v-btn elevation="0" class="text-subtitle-1">リザルト</v-btn>
        </a>
      </div>
    </v-app-bar>

    <v-navigation-drawer
      dark
      width="160"
      height="340"
      v-model="drawer"
      fixed
      temporary
    >
      <v-img :src="imgSrc" width="100%" class="mb-1"></v-img>
      <v-divider></v-divider>
      <v-list nav dense>
        <v-list-item-group
          v-model="group"
          active-class="red--text text--accent-4"
        >
          <NuxtLink v-for="page in pages" :key="page.title" :to="page.nuxtLink">
            <v-list-item>
              <v-list-item-icon>
                <v-icon v-text="page.icon"></v-icon>
              </v-list-item-icon>
              <v-list-item-title
                @click="$vuetify.goTo(page.section, { offset: 90 })"
                v-text="page.title"
              ></v-list-item-title>
            </v-list-item>
          </NuxtLink>
          <a
            href="http://ouachp.web.fc2.com/report1.html"
            class="text-decoration-none"
            target="_blank"
          >
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-list-status</v-icon>
              </v-list-item-icon>
              <v-list-item-title>リザルト</v-list-item-title>
            </v-list-item>
          </a>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </header>
</div>
